# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# TypeScript
tsconfig.tsbuildinfo

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
